@use "../../scss/index" as *;

.icon-noti {
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
  padding: 12px;
  background-color: rgb(238, 225, 225);
  border-radius: 50%;
}

.content-noti {
  font-size: 13px;
  margin-right: 6px;
}

.noti-heading {
  background-color: #fff;
  position: relative;
  padding: 8px;
  box-shadow: $box-shadow;
  border-radius: $radius-6;
}

.no-noti {
  padding: 12px;
  border-radius: $radius-6;
  background-color: #fff;
  box-shadow: $box-shadow;
  position: relative;
  z-index: 1100;
}
