@use "../../../../../scss/index" as *;

.top-news {
  &-list {
    &__item {
      &-category {
        display: inline-block;
        margin-bottom: 8px;
        color: $main-color;
      }
    }
  }
}
