@use "../../scss/index" as *;

.detail-user {
  margin: 50px;
  padding: 20px;
  border-radius: $radius-2;
  box-shadow: $box-shadow;
  background-color: $white-color;

  & h3 {
    margin-bottom: 12px;
  }
}
