@use "../../scss/index" as *;

.detail-user {
  margin: 50px;
  padding: 20px;
  border-radius: $radius-2;
  background-color: rgba(247, 247, 247, 0.5);
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 10px 2px;
  backdrop-filter: blur(10px);

  & h3 {
    margin-bottom: 12px;
  }
}

.detail-user-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://gw.alipayobjects.com/mdn/rms_08e378/afts/img/A*XpGeRoZKGycAAAAAAAAAAAAAARQnAQ");
}
