@use "../../scss/index" as *;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &-btn {
    & button {
      margin-left: 4px;
    }
  }
}
