@use "../../../../../scss/index" as *;

.login-form {
  width: $login-form-width;
  max-width: $login-form-width;
  padding: 16px 32px;
  box-shadow: $box-shadow;
  border-radius: $radius-1;
  background-color: $white-color;
  height: 300px;

  &__heading {
    @include heading();
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .login-form {
    max-width: 320px;
    padding: 8px 12px;
  }
}
