@use "./variable" as *;

body {
  overflow-x: hidden;
  // font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
}

.text-uper {
  text-transform: uppercase;
}

.image-in-table {
  width: 32px;
  height: 32px;
  border-radius: $radius-rounded;
  object-fit: cover;
}

.bold {
  font-weight: 600;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.link-to {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin: 0 16px;
}

.radius-6 {
  border-radius: $radius-6 !important;
}

.ant-collapse {
  border-radius: $radius-0 !important;
}

html::-webkit-scrollbar {
  width: 8px;
  max-width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(204, 197, 197);
  border-radius: 20px;
}

// div::-webkit-scrollbar {
//   width: 8px;
//   max-width: 8px;
// }

// div::-webkit-scrollbar-track {
//   background-color: #fff;
// }

// div::-webkit-scrollbar-thumb {
//   background-color: rgb(204, 197, 197);
//   border-radius: 20px;
// }

// ul::-webkit-scrollbar {
//   width: 8px;
//   max-width: 8px;
// }

// ul::-webkit-scrollbar-track {
//   background-color: #fff;
// }

// ul::-webkit-scrollbar-thumb {
//   background-color: rgb(204, 197, 197);
//   border-radius: 20px;
// }

.error-col {
  background-color: #ff4d4f33;
}

.cursor-poiner {
  cursor: pointer;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-small {
  font-size: 14px;
  display: inline-block;
  padding: 0 4px;
}

.shadow-wrapper {
  padding: 20px;
  background-color: $white-color;
  box-shadow: $box-shadow;
  border-radius: $radius-1;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-none {
  border: none !important;
}

.pagiantion {
  margin: 16px 0;
  text-align: right;
}

.hide {
  display: none !important;
}

.opacity {
  animation: opacity 2s ease;
  transition: 0.3s ease;
}

.disabled-row {
  background-color: #dfebdd;
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.ck-data {
  &-heading {
    text-align: center;
  }
}

//overide antd

.ant-layout-header {
  background-color: #fff;
  padding: 0 20px !important;
}

.ant-btn,
.btn {
  border-radius: $radius-0 !important;
}

.ant-layout-sider {
  background-color: #fff;
}

.ant-layout-content {
  padding: 20px !important;
  margin: 16px !important;
  background-color: #fff;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-picker,
.ant-select-selector {
  border-radius: $radius-6 !important;
  display: flex;
  align-items: center;
  border: 1px solid #dce6ef;
}

.ant-btn {
  border-radius: $radius-6 !important;
}

.ant-form-item-explain-error {
  margin: 8px 0 12px 0;
}

.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  border-color: #ff4d4f !important;
}

.css-eez85g-MuiTypography-root {
  color: #fff !important;
}

.css-llvhl4-MuiTypography-root {
  color: #fff !important;
}

.ant-descriptions-item {
  padding-right: 12px;
}

.ant-dropdown-menu {
  border-radius: $radius-6 !important;
  padding: 10px 4px;
}

.ant-dropdown {
  min-width: 150px !important;
}

.ant-popover-inner {
  padding: 4px !important;
  border-radius: $radius-0 !important;
}

.ant-layout-content {
  border-radius: $radius-0 !important;
}

.ant-modal-footer {
  display: none !important;
}

.ant-modal-content {
  border-radius: $radius-6 !important;
}

.ant-modal-header {
  border-radius: $radius-6 !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover,
.ant-dropdown-menu-item.ant-dropdown-menu-item-active,
.ant-dropdown-menu-item.ant-dropdown-menu-submenu-title-active,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-item-active,
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title-active {
  border-radius: $radius-6;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-radius: none !important;
}

.ant-form-item-label > label {
  font-size: 13px;
  font-weight: 400;
  padding: 0 !important;
  color: $text-green !important;
}

.ant-form-item-label {
  padding: 0 !important;
}

.ant-table-thead > tr > th {
  background-color: $white-color !important;
  font-weight: 600;
  font-size: 13px;
  color: $text-green;
}

.ant-input:focus,
.ant-input-focused {
  box-shadow: none;
}

.ant-table-tbody > tr > td {
  font-size: 13px;
}

.ant-form-item-explain-error {
  font-size: 13px;
}

.ant-form-item-with-help .ant-form-item-explain {
  height: 40px !important;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  border: none;
}

.ant-drawer-body,
.ant-drawer-header {
  padding: 12px !important;
}

.ant-table {
  max-width: 100%;
  overflow-x: auto;
}
