@use "./variable" as *;

@mixin auth-bg {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin heading {
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
  font-size: $font-size-heading;
  font-weight: $font-weight-heading;
  cursor: pointer;
}
