//border-radius
$radius-0: 4px;
$radius-1: 8px;
$radius-2: 12px;
$radius-rounded: 50%;

//border-color
$border-color: #e1d7d7;

//$box-shadow
$box-shadow: 0 7px 25px rgba(0 0 0 /8%);

//color
$white-color: #fff;
$main-color: #40aa41;

//box-shadow
$box-shadow: 0 7px 25px rgba(0 0 0 / 8%);

//width
$register-form-width: 840px;
$login-form-width: 420px;
$form-basic-width: 480px;

//font weight
$font-weight-heading: 600;

//font size
$font-size-heading: 18px;

//padding
$basic-padding: 20px;

//transition
$transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
